<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <title>List</title>
</head>
<body class="blue-theme">
<ul class="nav">
    <li><a class ="active" th:href="@{/}">Home</a></li>
    <li><a th:href="@{/patients}">Patients</a></li>
    <li style="float:right" >
        <form th:action="@{/logout}" method="post">
            <img th:src="@{/image/login-img.png}" class="login-user">
            <button type="submit" class="login-button">Logout</button>
        </form>
    </li>
</ul>
<div class="container">
    <h1>Caregiver list</h1>
    <a th:href="@{/caregivers/new}" class="submit-button">Create Caregiver</a>
    <div class="caregiver-table">
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Language</th>
                <th>Speciality</th>
                <th>Patient</th>
                <th>Actions</th>
            </tr>
            <tr th:each="caregiver : ${caregivers}">
                <td th:text="${caregiver.firstName}">firstName</td>
                <td th:text="${caregiver.lastName}">lastName</td>
                <td th:text="${caregiver.email}">email</td>
                <td th:text="${caregiver.age}">age</td>
                <td th:text="${caregiver.gender}">gender</td>
                <td th:text="${caregiver.language}">language</td>
                <td th:text="${caregiver.speciality}">age</td>
                <td>
                    <ul class="background-color">
                        <li th:each="patient : ${caregiver.patients}">
                            <span th:text="${patient.firstName}"></span>
                        </li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/caregivers/edit/{id}(id=${caregiver.id})}">Edit</a>
                    <a th:href="@{/caregivers/delete/{id}(id=${caregiver.id})}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>