<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<div id="mainstay">
    <div class="navbar">
       <ul>
            <li><a class ="active" th:href="@{/}">Home</a></li>
            <li><a th:href="@{/register}">Sign Up</a></li>
            <li style="float:right">
                <form th:action="@{/logout}" method="post">
                    <img th:src="@{/image/login-img.png}" class="login-user">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </li>
        </ul>
    </div>
    <div id="animation-container">
        Streamlining Care Assignments for Enhanced Patient Care
        <div>
            <a th:href="@{/register}" class="submit-button">Sign Up</a>
        </div>
    </div>
</div>

<div >
    <p>Welcome to Caregiver Tracker system, the primary caregiver managment solution for hospitals.
    Our platform simplifies the proecss of connecting patients with cargivers, streamlining care assignments, and enhancing patient support.
    Administrations can effortlessly manage assignments, while patients and caregivers can easily access theri personalized pages.
    Exprience seamless care corrdination with CGT</p>

    <footer>
        <div class="socials">
            <strong>Follow us on: </strong>
            <a href="https://www.facebook.com" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
        </div>
        <p>
            Copyright &copy; 2023-2024 Auto Arcade, inc. - All rights reserved.
        </p>
    </footer>
</div>
</body>
</html>