<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<h1>Profile for <span th:text="${patient.firstName}"></span></h1>

<h2>Assigned caregivers</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Language</th>
        <th>Speciality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caregiver : ${Caregivers}">
        <td th:text="${caregiver.firstName}"></td>
        <td th:text="${caregiver.age}"></td>
        <td th:text="${caregiver.language}"></td>
        <td th:text="${caregiver.speciality}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>